<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper red">
            <a href="#" class="brand-logo">StoryBooks</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/storys">Historias Publicadas</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/auth/logout">Sair</a></li>
            </ul>
        </div>
    </nav>
</div>