<h3>Adicione sua historia</h3>
<div class="row">
    <form action="/stories/add" class="col s12" method="POST">
        <div class="row">
            <div class="input-field">
                <input type="text" name="title" id="title">
                <label for="title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    <option value="public" selected>Publico</option>
                    <option value="private">Privado</option>
                </select>
                <label for="status">Status</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <h5>Conte sua Historia:</h5>
                <textarea name="body" id="body"></textarea>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Salvar" class="btn">
            <a href="/dashboard" class="btn orange">Cancelar</a>
        </div>
      </div>
    </form>
</div>